html, body {
  font-family: 'Montserrat', sans-serif;
}

::placeholder {
  font-size: 14px;
  color: #454749;
  opacity: 0.3;
}

.slick-prev, .slick-next {
  display: none !important;
}
/* 
.slick-dots li button:before {
  background: #79A6F6 !important;
  opacity: 0.5 !important;
} */

.slick-dots {
  bottom: -74px !important;
}